<%= bootstrap_form_for(@pressrelease) do |f| %>
  <% if @pressrelease.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pressrelease.errors.count, "error") %> prohibited this pressrelease from being saved:</h2>

      <ul>
      <% @pressrelease.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	 <fieldset class="form-group">
		
		 <div class="field">
    <%= f.text_field :title %>
  </div>
  <div class="field ">
    <%= f.datetime_select :publish_at %>
  </div>
  <div class="field">
    <%= f.text_area :intro, class: "edit-intro" %>
  </div>
   <div class="field">
    <%= f.text_area :body , id: "summernote"%>
  </div>
  <div class="actions pull-right">
    <%= f.submit %>
  </div>
<% end %>


<script type="text/javascript">
$('#summernote').summernote({
	 shortcuts: false,
	dialogsInBody: false,
	popover:false,
  toolbar: [
    // [groupName, [list of button]]
			 ['para', ['style', 'ul']],
	  ['insert', ['link']],
	  ['image', ['none']],
    ['style', ['bold', 'italic', 'underline', 'clear']]	
   
  ],
		styleTags: ['p', 'h4']
});
</script>
