
<%= content_for :jumbotron do %>
<div class="support-jumbotron">
    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                   
					
                    
                </div>
            </div>
        </div>
    </section>
</div>

<% end %>
<div class="sub-intro-section">
        <div class="container">
            <div class="row ">
																															
								 <h2>Support Proposition 58</h2>
													 
			 
			  <p>You can support Prop 58 in a number of ways... </p>
			  
																											<div class="support-actions">
																													<ul class="ulist fa-ul">
																													<li><i class="fa-li fa fa-check"></i>	Distribute Materials</li>
<li><i class="fa-li fa fa-check"></i>	Write an opinion editorial</li>
<li><i class="fa-li fa fa-check"></i>	Communicate with employees/members</li>
<li><i class="fa-li fa fa-check"></i>	Volunteer/Speak at local events</li>
<li><i class="fa-li fa fa-check"></i>	Write a letter-to-the editor</li>
<li><i class="fa-li fa fa-check"></i>	Offer volunteers that speak a foreign language.</li>
																																																					
																																																					
																													</ul>
																																																																																		</div>
																																																																																																																																							
																																																																																																																																							
	  <h3>Join our <%= link_to 'mailing list', "http://eepurl.com/b-U2nL", target:"_blank" %> to keep up to date with the latest news and developments.</h3>			
									
									

</p>

</div>
</div>
</div>
  
		
		<div>
			<%= render 'layouts/toolkit'%>
		</div>
		
		
    <section class="a-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-md-1">
													 
													 <div class="action-icon"><span class="fa fa-download"></span></div>
								                     <h2>Download the LEARN endorsement card</h2>
											<p>You can download <%= link_to 'the LEARN endorsement card here', 'downloads/learn.pdf', target:"_blank" %> - please feel free to share it with others.</p>
																	<p><%= link_to (image_tag 'LEARN.png'), 'downloads/learn.pdf', target:"_blank" %></p>


					
				
                </div>
            </div>
        </div>
    </section>
	
																															    <section class="b-section">
																															        <div class="container">
																															            <div class="row">
																															                <div class="col-lg-10 offset-md-1">
																																																											                    <h3>To add your name to the growing list of LEARN supporters, just <%= link_to 'fill out this form', contact_path %>.</h3>				
						
	<p>The LEARN intiative enjoys bipartisan support, as well as the backing of leading organizations in  the world of education. 
		<%= link_to 'Find out who is supporting it.', endorsements_path %>								



																																																																				                </div>
																																																																				            </div>
																																																																				        </div>
																																																																				    </section>																													    


    